;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[bidi/bidi "2.1.6"]
  [binaryage/devtools "1.0.2"]
  [cider/cider-nrepl "0.22.4"]
  [kibu/pushy "0.3.8"]
  [markdown-clj/markdown-clj "1.10.5"]
  [reagent/reagent "1.0.0"]]

 :nrepl
 {:port 3333}

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules
        {:main
         {:init-fn app.core/start!}}
        :devtools   {:after-load app.core/start!
                     :http-root  "public"
                     :http-port  3000}}}}
