;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[bidi "2.1.6"]
  [binaryage/devtools "0.9.11"]
  [cider/cider-nrepl "0.22.4"]
  [kibu/pushy "0.3.8"]
  [markdown-clj "1.10.0"]
  [reagent "0.9.0-rc3"]]

 :nrepl
 {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules
        {:main
         {:entries [app.core]}}
        :devtools {:after-load app.core/start!
                   :http-root "public"
                   :http-port 3000}}}}
