[{:metadata {:title ["Post 1"], :slug ["post-1"], :tags ["tag1 tag2"]}, :html "<h1>Post 1</h1>"} {:metadata {:title ["Post 2"], :slug ["post-2"], :tags ["tag1 tag2"]}, :html "<h1>Post 2</h1>"} {:metadata {:title ["Post 3"], :slug ["post-3"], :tags ["tag1 tag2"]}, :html "<h1>Post 3</h1><pre><code>&#40;defn hello\n  &#91;name&#93;\n  &#40;str &quot;Hello, &quot; name&#41;&#41;\n</code></pre>"}]